.section-about-container h3 {
  font-size: 36px;
  text-align: center;
  color: var(--color-dark-1);
  background-color: var(--color-light-2);
  margin: 0;
  padding: 20px 0;
}

.section-about-container h4 {
  color: var(--color-dark-2);
  font-size: 24px;
  margin: 0;
}

.section-about-container h5 {
  color: var(--color-light-2);
  font-size: 20px;
  margin: 10px 0;
}

.section-about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
}

.section-about-container .section-about {
  max-width: 900px;
}

.section-about-container .section-about .sub-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 75px 25px;
  gap: 40px;
  color: var(--color-dark-3);
}

.section-about-container .sub-sub-section {
  padding: 25px;
  background: var(--color-dark-3);
  color: var(--color-light-3);
  border-radius: 16px;
  transition: box-shadow 0.4s;
}

.section-about-container .sub-sub-section:hover {
  box-shadow: var(--box-shadow), var(--box-shadow), var(--box-shadow);
}

.section-about-container .background-border {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 500px 500px 1fr 1fr;
  z-index: -1;
}
.section-about-container .background-border:last-child {
  border-left: none;
}

.section-about-container .line {
  width: 5px;
  width: 100%;
  border-right: 2px dashed var(--color-light-4);
  height: 100%;
}
