:root {
  --color-light-1: #ffffff;
  --color-light-2: #f9f9fb;
  --color-light-3: #ececf0;
  --color-light-4: #e2e2e7;

  --color-dark-1: #000000;
  --color-dark-2: #222222;
  --color-dark-3: #3a3a3a;
  --color-dark-4: #666666;

  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  box-sizing: border-box;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: "Poppins";
  margin: 0;
  background: var(--color-light-2);
  padding-top: 75px;
  position: relative;
}

::-moz-selection {
  background: rgba(210, 209, 211, 0.589);
}
::selection {
  background: rgba(210, 209, 211, 0.589);
}
