.quiz-container {
  width: 100%;
  background: var(--color-light-2);
  padding: 50px 25px;
  display: flex;
  min-height: calc(100vh - 75px);
  align-items: center;
  justify-content: center;
  justify-content: center;
  border-top: 2px solid var(--color-dark-2);
  border-bottom: 2px solid var(--color-dark-2);
  text-align: center;
}
.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.quiz-container h3 {
  font-size: 2.2rem;
}

.quiz-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.question {
  font-size: 22px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.score {
  font-size: 18px;
}

.option {
  padding: 15px;
  text-align: left;
  border: 2px solid var(--color-dark-2);
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.option:hover {
  background: var(--color-light-3);
}

.buttons {
  width: 100%;
  display: flex;
  gap: 10px;
}
.btn {
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  background: var(--color-dark-2);
  color: var(--color-light-2);
  border: 2px solid var(--color-dark-2);
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  color: var(--color-dark-2);
  background: var(--color-light-2);
}

.hide {
  display: none;
}

.option:hover.correct,
.correct {
  background: var(--color-dark-2);
  color: var(--color-light-2);
}

.option.user-select {
  font-weight: 700;
}

.score {
  width: 100%;
  font-size: 18px;
}
